---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: capg-controller-manager
spec:
  selector:
    matchLabels:
      control-plane: capg-controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: capg-controller-manager
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      containers:
      - args:
        - --leader-elect
        - --feature-gates=GKE=${EXP_CAPG_GKE:=false}
        - "--diagnostics-address=${CAPG_DIAGNOSTICS_ADDRESS:=:8443}"
        - "--insecure-diagnostics=${CAPG_INSECURE_DIAGNOSTICS:=false}"
        - "--v=${CAPG_LOGLEVEL:=0}"
        image: controller:latest
        imagePullPolicy: IfNotPresent
        name: manager
        ports:
        - containerPort: 9440
          name: healthz
          protocol: TCP
        - containerPort: ${CAPG_DIAGNOSTICS_PORT:=8443}
          name: metrics
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: healthz
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /healthz
            port: healthz
          initialDelaySeconds: 10
          periodSeconds: 10
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          privileged: false
          runAsUser: 65532
          runAsGroup: 65532
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
      terminationGracePeriodSeconds: 10
      serviceAccountName: manager
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
