# Helps catch spelling errors
name: Codespell

on:
  pull_request:

permissions: {}

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: codespell-project/actions-codespell@406322ec52dd7b488e48c1c4b82e2a8b3a1bf630 # v2.1
        with:
          skip: .git,_artifacts,*.sum,.golangci.yml
          ignore_words_file: .codespellignore
          check_filenames: true
          check_hidden: true
