# Helps catch spelling errors
name: Codespell

on:
  pull_request:

permissions: {}

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579 # v2.2
        with:
          skip: .git,_artifacts,*.sum,.golangci.yml
          ignore_words_file: .codespellignore
          check_filenames: true
          check_hidden: true
