# Helps catch spelling errors
name: Codespell

on:
  pull_request:

permissions: {}

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579 # v2.2
        with:
          skip: .git,_artifacts,*.sum,.golangci.yml
          ignore_words_file: .codespellignore
          check_filenames: true
          check_hidden: true
